<div class="ui fluid green card">
  <div class="right ui rail">

    <div class="ui segment attached" style="text-align: left">
      <div class="ui selection dropdown fluid">
        <input name="year" type="hidden">
        <div class="default text">سال تحصیل</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="0">Value</div>
          <div class="item" data-value="1">Another Value</div>
        </div>
      </div>

      <div class="ui form" style="text-align: right">
        <div class="grouped fields">
          <div class="field">
            <div class="ui slider checkbox">
              <input name="throughput" checked="checked" type="radio">
              <label>کلاس الف</label>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox">
              <input name="throughput" type="radio">
              <label>کلاس ب</label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="ui green button attached bottom">
      جستجو
    </div>

  </div>
  <div class="content">
    <div class="header">
      دانش آموزان
    </div>
  </div>
  <div class="content">
    <p>
      در این صفحه شما می توانید لیست تمام دانش آموزان را مشاهده کنید همچنین می توانید با استفاده از تنظیمات منوی سمت راست سال تحصیل را نیز انتخاب کنید
    </p>
  </div>
</div>

<div class="ui three link cards" id="cardlist">

  <% @students.each do |student| %>
      <%= render 'students/student_card', :student => student %>
  <% end %>
</div>

<script>
    $(document).ready(function(){
        $('.ui.dropdown')
                .dropdown()
        ;
    });

    $(document).ready(function() {
        $('.special.card .image').dimmer({
            on: 'hover'
        });
    });
</script>
<!--< %= link_to 'Show', student %>-->
<!--< %= link_to 'Edit', edit_student_path(student) %>-->
<!--< %= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>-->
