<div class="ui sixteen wide mobile twelve wide tablet eight wide computer column">
  <% if admin_signed_in? %>
      <%= link_to 'فیلم آموزشی جدید', new_tutorial_path ,:class => 'ui button green button' %>
  <% end %>
  <div class="ui fluid green card">
    <div class="content">
      <div class="header">
فیلم های آموزشی      </div>
    </div>

    <div class="content">
      <p>
این فیلم های آموزشی جهت تکمیل مطالب کلاس و مرور آنها برای شما تهیه شده است       </p>
    </div>
  </div>
  <br>
  <div class="ui three cards link">
    <% @tutorials.each do |tut| %>
        <%= render 'video_card', :tutorial => tut %>
    <% end %>
  </div>
  <br>
</div>
