<div class="ui sixteen wide mobile twelve wide tablet eight wide computer column">
  <div class=" ui green card fluid">
    <div class="content">
      <div class="header">
        کلاس شهرسازی سوم دبستان
      </div>

    </div>
    <div class="image">
      <%= image_tag(@background) %>
    </div>
    <div class="content">
      <div class="description">
        کلاس شهرسازی سوم بسیار فلان است که خیلی بهمان بود ما فلانترش کردیم اما باید بیشتر فلان شود که چرا نشده تا حالا فقط بهمان میداند.
        کلاس شهرسازی سوم بسیار فلان است که خیلی بهمان بود ما فلانترش کردیم اما باید بیشتر فلان شود که چرا نشده تا حالا فقط بهمان میداند.
        کلاس شهرسازی سوم بسیار فلان است که خیلی بهمان بود ما فلانترش کردیم اما باید بیشتر فلان شود که چرا نشده تا حالا فقط بهمان میداند.
        کلاس شهرسازی سوم بسیار فلان است که خیلی بهمان بود ما فلانترش کردیم اما باید بیشتر فلان شود که چرا نشده تا حالا فقط بهمان میداند.
        کلاس شهرسازی سوم بسیار فلان است که خیلی بهمان بود ما فلانترش کردیم اما باید بیشتر فلان شود که چرا نشده تا حالا فقط بهمان میداند.
      </div>
    </div>
    <div class="extra content">
      <span class=" floated">
        تابستان 1394
      </span>
    </div>
  </div>


  <!--<a class="launch icon item">-->
  <!--<i class="content icon"></i>-->
  <!--</a>-->
  <% unless (@studentsA.first == nil or @studentsA.first.score == 0) and (@studentsB.first == nil or @studentsB.first.score == 0)%>
  <div class="ui segments">
    <div class="ui  segment">
      <div class="ui header">
        برترین ها
      </div>
    </div>
    <div class="ui green secondary segment">
      <div class="ui three link cards">
        <div class="ui horizontal divider ">
          کلاس الف
        </div>
        <% @studentsA.each do |student| %>
        <%= render 'students/student_card', :student => student %>
        <% end %>
        <div class="ui horizontal divider ">
          کلاس ب
        </div>
        <% @studentsB.each do |student| %>
        <%= render 'students/student_card', :student => student %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
