<div class="ui sixteen wide mobile twelve wide tablet twelve wide computer column ">
  <div class="ui stackable centered grid">
    <div class="ui six wide computer  sixteen wide mobile twelve wide tablet  column">
      <div class=" ui card "  style="text-align: center;margin: 0 auto">
        <div class="ui content ">
          <%= image_tag @medal.image ,:class => 'centered rounded'%>
        </div>
        <div class="ui content">
          <div class="ui header">
            <%= 'مدال'+' '+@medal.per_type_name + ' '+ @medal.display_name %>
          </div>
        </div>
        <div class=" content">
          <div class="ui meta green label fluid">
            <i class="diamond icon"></i>
            <%= 'امتیاز: ' + @medal.score.to_s  %>
          </div>

          <div class="ui description">

          </div>
        </div>
      </div>
    </div>
    <div class="ui ten wide computer sixteen wide mobile twelve wide tablet  column">
      <div class="ui segments">
        <div class="ui segment">
          <div class="ui header">
            توضیحات
          </div>
        </div>
        <div class="ui green  secondary segment">
          <%= @medal.description %>
        </div>
      </div>
    </div>
  </div>
</div>